.CalculatorItem {
    border-bottom: solid rgb(196, 196, 196);
    max-width: 100%;
    flex-wrap: wrap;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CalculatorItem .btn {
    height: 20px;

    border-style: none;
    color: white;
    flex-wrap: wrap;
    max-width: 100%;
    border-radius: 10px;
    margin-left: 10px;

    max-width: 100%;
    flex-wrap: wrap;

    padding: 10px;
    text-align: center;
}

.CalculatorItem p {
    font-size: 20px;
}

