.Header {
    border-bottom: solid rgb(196, 196, 196);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;
    
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;

}

.HeaderLink {
    margin-left: 550px;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 30px;
    font-weight: bolder;
    font-weight: normal;

    color: #000000;
}

.Header button {
    cursor: pointer;
    padding: 15px;
    color: white;
    background-color: #000000;
    border: none;
    margin-left: 50px;
}